**/node_modules/
build
!contrib/bash/forge-cli
forge-cli
forge-cli-darwin
forge-cli-darwin-arm64
forge-cli-armhf
forge-cli.exe
forge-cli-arm64

*.jpg
*.pyc
master.zip
*.png

obj
.vscode

*.swp

.idea
.DS_Store

template

*.pem
secrets.yml

/withprivate*

.secrets
